

#first{
    background-color: red;
    color: black;
}
#second{
    color: azure;
}

#code{
    color: yellowgreen;
    background-color: rgb(255, 219, 172);
}
.yellow{
   background-color: darkgrey;
}
.red{
    color: #ff7474;
}